:root {
  --sidebar-width: 8em;
  --sidebar-margin: 2em;
}

.App {
  display: flex;
  min-height: 100vh;
}

.App > main {
  flex-basis: 0;
  flex-grow: 999;
}

.App > aside {
  background-color: #eee;
  width: var(--sidebar-width);
  margin-left: var(--sidebar-margin);
}
